@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --accent-color: #FFD166;
    --text-color: #26547C;
    --secondary-color: #F4F1DE;
    --bg-color: #EBF2FA;
}

.darkmode {
    --accent-color: #FFD166;
    --text-color: #F4F1DE;
    --secondary-color: #26547C;
    --bg-color: #00253E;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html {
    background-color: var(--bg-color);
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
}

main {
    font-size: 1.6rem;
    color: var(--text-color);
    size: 100%;
    height: 56rem;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 45rem;
    height: 38rem;
    background-color: var(--bg-color);
    border-radius: 1rem;
    box-shadow: 0 10rem 8rem rgba(0, 0, 0, 0.07),
                0px 4rem 3rem rgba(0, 0, 0, 0.05), 
                0px 2rem 1.7rem rgba(0, 0, 0, 0.04),
                0px 12.5216px 10.0172px rgba(0, 0, 0, 0.03),
                0px 6.6501px 5.32008px rgba(0, 0, 0, 0.02),
                0px 2.76726px 2.21381px rgba(0, 0, 0, 0.02);


    display: flex;
    justify-content: center;
}


#content {
    padding: 2.4rem 5rem 6rem 5rem;
}

#content h1 {
    text-align: center;
    font-size: 3.2rem;

    margin-bottom: 2.4rem;
}

#image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    display: block;
    justify-content: start;
}

.form-field {
    font-weight: 500;
    margin-bottom: 2.4rem;
}

.form-field input {
    display: block;

    width: 35rem;
    height: 3rem;

    font-size: 1.2rem;

    border: .1rem solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--bg-color);

    padding: .8rem;
    margin-top: .8rem;

    opacity: 1;

}

.form-field input::placeholder {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    opacity: .6;
}

.form-field input:focus{
    opacity: 1;
    outline: 0;
    
}

.form-field input:focus::placeholder {
    opacity: .6;
}

#pw-forget {
    font-size: 1.2rem;

    display: flex;
    justify-content: end;
}

#pw-forget a, #pw-forget:visited {
    text-decoration: none;
    color: var(--text-color);
    
}

form button {
    padding: .8rem 14.4rem;

    border: none;
    border-radius: 5px;

    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: 700;
}

form button:hover{
    cursor:pointer;
}

header {
    width: 100%;
    height: 3rem;
    font-size: 1.6rem;

    padding: 1rem;

    display: flex;
    justify-content: end;
}

header p {
    cursor:pointer;
    text-decoration: underline;

    font-weight: 600;
    color: var(--text-color);
}